FCC_ULS_SQLITE=/var/lib/fcc-uls-aircraft/fcc-uls-aircraft.sqlite
FCC_ULS_CACHE=/var/lib/fcc-uls-aircraft/cache
RUST_LOG=info
STATE_CAPTURE_SOCK=/run/state/collect.sock
STATE_CAPTURE_ANNOUNCE_DIR=/var/lib/state-capture/announce
